<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Zwitter</title>

    <link rel="stylesheet" href="/static/components/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="/static/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/components/bootstrap/dist/js/bootstrap.min.js"></script>

    <style>
        html, body {
            padding: 0px 10px 10px 10px;
        }
    </style>
</head>
<body>
    {{> header }}

    <hr />

    {{{ body }}}

    <hr />

    {{> footer }}
</body>
</html>